{% if posts|e %}
<div id="sidebar">
	<ul>
	{% for post in posts %}
		<li><a href="#{{loop.index}}">{{post.display_date}}</a></li>
	{% endfor %}
	</ul>
</div>
{% endif %}


<div id="content">
		{% for page in pages %}
			<div class="content-container">
				<div class="page-title">{{page.title}}</div>
				<div class="page-content">
					{{page.content}}
				</div><!-- content-container div -->
			</div>
		{% endfor %}
	
		{% if posts|e %}
			{% for post in posts %}
				<div class="content-container">
					<a name="{{loop.index}}"></a>
					<div>
						<div class="post-date">{{post.display_date}}</div>
						<div class="post-title">{{post.title}}</div>
					</div>
					<div class="post-content">
						{{post.content}}
					</div>
				</div>
			{% endfor %}
		{% endif %}
</div>